body {
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 58, 119);
    color: white;
}

header h1 {
    align-items: left;
}

.header nav {
    gap: 1.5em;
    align-items: right;
    color: white;
    text-decoration: none;
}

aside {
    grid-area: aside;
}

aside:nth-child{
    background-color: grey;
}

main {
    grid-area: main;
    justify-content: center;
}

footer {
    grid-area: footer;
}

.stats article {
    flex: 1;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(223, 223, 223);
}

.server-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.server {
    background-color: white;
    border-radius: 6px;
    width: 200px;
    padding: 1em;
    border-left: 5px solid;
}

nav a[data-type="admin"] {
    color: red;
    font-weight: bold;
}

.server [data-status="online"] {
    border-left-color: green ;
}

.server [data-status="offline"] {
    border-left-color: red;
}

aside li:nth-child(odd) {
    background-color: #ebe8e8;
}

nav a:not([data-type="admin"]) {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #cbd5e1;
}

aside li {
    cursor: pointer;
    list-style: none;
}
aside li:hover {
    background-color: rgb(86, 86, 245);
    color: white;
}

.stats article:hover {
    background-color: #e6e9f3;
    border-color: #3498db;
}

footer {
    background-color: #30465c;
    color: white;
    text-align: center;

}
